# ===============================
# STM32CubeIDE / Eclipse
# ===============================
.metadata/
.settings/
# .project
# .cproject
*.launch

# ===============================
# Build output
# ===============================
# Ignore build artifacts but keep makefiles
Debug/*.elf
Debug/*.map
Debug/*.list
Debug/*.o
Debug/*.d
Debug/*.su
Debug/*.cyclo
Debug/objects.list
Debug/**/*.o
Debug/**/*.d
Debug/**/*.su
Debug/**/*.cyclo
Debug/**/*.list

Release/
build/
Bin/
*.elf
*.map
*.hex
*.bin
*.lst
*.o
*.d
*.su
*.cyclo
*.list
EWARM/

# ===============================
# CubeMX generated backups
# ===============================
*.ioc.bak
*.mxproject

# ===============================
# OS / editor junk
# ===============================
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# ===============================
# VS Code (if ever used)
# ===============================
.vscode/

# ===============================
# user specific
# ===============================
SD-card-files